@page "/UpdateUser"
@inherits UpdateUserBase


@attribute [Authorize]
@*<body style="padding-top:20px">*@
<div class="container-fluid">

	@if (modelView == null && SelectedUserId != "")
	{
		<div class="spinner"></div>
	}
	else
	{
		@*Section 1 - Title *@
		<div class="row ">

			<div class="col-sm-6">
				<div class="panel panel-primary" style="color: blue; border-color: #ffffff; ">
					<div class="panel-body"><h4>Reset GUIDE User Login Status</h4></div>
				</div>
			</div>
		</div>

		@*Section 2 - Parameters*@
		<div class="row">
			<div class="col-sm-4">
			</div>
		</div>


		@*Section 3 - list display*@


		@*Section 4 - Update Form*@
		<div class="row ">
			<div class="col-sm-4">
				<table class="table table-sm table-bordered table-primary Col-Head-Left">
					<tbody>
						<tr>
							<td><label for="Id" class="col-form-label">GUIDE User Id</label></td>
							<td>
								<input type="text" class="form-control-sm" @bind="SelectedUserId" Readonly />
							</td>
						</tr>
						<tr>
							<td><label for="Id" class="col-form-label">Current Password</label></td>
							<td>
								<input type="password" class="form-control-sm" @bind="SelectedPassword" placeholder="Password" Readonly />
							</td>
						</tr>
					</tbody>
				</table>
				<div class="well">
					<button class="btn btn-outline-primary m-1 float-left btn-width-80" @onclick="UpdateStatusClick">Reset</button>
					<button class="btn btn-outline-primary m-1 float-left btn-width-80" @onclick="BackClick">Back</button>
					<br />
				</div>
			</div>
		</div>

		@*Section 5 - Notes *@
		<div class="row ">
			<div class="col-sm-12">
				<div class="panel" style="color: red; border-color: #ffffff; ">
					<div class="panel-body">
						<ul>
							<li>If you can't change GUIDE password, please click 'Reset' button here.</li>
							<li>Then you are able to change password again in GUIDE.</li>
							<li>Note: the Reset function won't change your password.</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	}
</div>

@*the component take two parameters*@
<ConfirmYes @ref="ComfirmationComponent"
			ConfirmationChanged="ConfirmClick"
			ConfirmationTitle=@($"GUIDE User Password")
			ConfirmationMessage=@($"No GUIDE User Password found.")
			BtnClass=@($"btn btn-primary float-left")
			YesTitle=@($"Ok")>
</ConfirmYes>
<ConfirmYes @ref="ComfirmationComponentSaveSuccess"
			ConfirmationChanged="ConfirmClick"
			ConfirmationTitle=@($"GUIDE User Password")
			ConfirmationMessage=@($"Reset GUIDE User Profile successfully!")
			BtnClass=@($"btn btn-success float-left")
			YesTitle=@($"Ok")>
</ConfirmYes>
<ConfirmYes @ref="ComfirmationComponentSaveUnsuccess"
			ConfirmationChanged="ConfirmClick"
			ConfirmationTitle=@($"GUIDE User Password")
			ConfirmationMessage=@($"Unsuccessfully Reset GUIDE User Profile .")
			BtnClass=@($"btn btn-danger float-left")
			YesTitle=@($"Ok")>
</ConfirmYes>
<ConfirmYes @ref="ComfirmationComponentBadRequest"
			ConfirmationChanged="ConfirmClick"
			ConfirmationTitle=@($"GUIDE User Password")
			ConfirmationMessage=@($"Bad internet request.")
			BtnClass=@($"btn btn-info float-left")
			YesTitle=@($"Ok")>
</ConfirmYes>
<ConfirmYes @ref="ComfirmationComponentError"
			ConfirmationChanged="ConfirmClick"
			ConfirmationTitle=@($"GUIDE User Password")
			ConfirmationMessage=@($"Error retrieving data from the database.")
			BtnClass=@($"btn btn-warning float-left")
			YesTitle=@($"Ok")>
</ConfirmYes>
@*</body>*@