@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm account & email";
}

<div class="container-fluid">
    <div class="card">
        <div class="card bg-primary text-white">
            <div class="card-header">
                <h4>@ViewData["Title"]</h4>
            </div>
        </div>

        <div class="card-body">
            <div class="row">
                <div class="col-sm-4">
                    <section>
                    </section>
                </div>
            </div>
        </div>

        @*<div class="card-footer">
        </div>*@
    </div>
</div>