@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}
@*
<h1>@ViewData["Title"]</h1>
<p>
    Your password has been reset. Please <a asp-page="./Login">click here to log in</a>.
</p>*@

<div class="container-fluid">
    <div class="card">
        <div class="card bg-primary text-white">
            <div class="card-header">
                <h4>@ViewData["Title"]</h4>
            </div>
        </div>

        <div class="card-body">
            <div class="row">
                <div class="col-sm-6">
                    <section>
                        Your password has been reset. Please <a asp-page="./Login">click here to log in</a>.
                    </section>
                </div>
            </div>
        </div>

        @*<div class="card-footer">
        </div>*@
    </div>
</div>
