@page "/AccessDeny"

<p>
	<h2><span class="badge badge-warning mt-4 p-5" style="width: 80%">Sorry, you're not authorized to reach this page.</span></h2>
</p>
<p>
	<h4><span class="badge badge-info " style="width: 80%">You may need to log in again or as a different user.</span></h4>
</p>