@page "/"

<div class="container-sm container-fluid">
	<header>
		<div class="mt-4 p-5 bg-primary text-white rounded">
			<h1>MIZUHO Application Center</h1>
		</div>
	</header>

	<div>
		<h1/>
		@*<img src="/images/60MartinPlace.jpg" class="rounded img-fluid" width="1000" height="600" />*@
		<img src="/images/60MartinPlace.jpg" class="rounded img-fluid mx-auto d-block" style="width:70%" />
	</div>

	<footer>
		@*<div class="jumbotron fixed-bottom text-sm-left " style="margin-bottom:0">
		</div>*@
		<div class="text-sm-center footer" style="margin-bottom:0">
			<p>&copy; @DateTime.Now.Year - MIZUHO Bank Sydney, supported by B. Li</p>
		</div>	
	</footer>
</div>