<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
	
  <connectionStrings>
		<add name="GUIDESP" connectionString="server=MIZSQLT01; database=GUIDE; integrated security=SSPI" providerName="System.Data.SqlClient" />
		
    <add name="GUIDEDBEntities" connectionString="metadata=res://*/GUIDEModel.csdl|res://*/GUIDEModel.ssdl|res://*/GUIDEModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MIZSQLT01;initial catalog=GUIDE;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
   
		<add name="LoanDBEntities" connectionString="metadata=res://*/LOANModel.csdl|res://*/LOANModel.ssdl|res://*/LOANModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MIZSQLT01;initial catalog=Loan;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
   
		<add name="EUCDbArchiveDBEntities" connectionString="metadata=res://*/EUCDBArchiveModel.csdl|res://*/EUCDBArchiveModel.ssdl|res://*/EUCDBArchiveModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MIZSQLT01;initial catalog=EUCDbArchive;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
   
		<add name="eDocumentDBEntities" connectionString="metadata=res://*/eDocumentModel.csdl|res://*/eDocumentModel.ssdl|res://*/eDocumentModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MIZSQLT01;initial catalog=eDocument;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>
