<?xml version="1.0" encoding="utf-8"?>
<!--For more information on using transformations see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

	<connectionStrings>
		<add name="DefaultConnection" connectionString="Data Source=(local)\MIZSQL2016;initial catalog=GUIDE;Integrated Security=True;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"
				 xdt:Transform="Replace" xdt:Locator="Match(name)"  />

		<add name="GUIDESP" connectionString="server=(local)\MIZSQL2016; database=GUIDE; integrated security=SSPI" providerName="System.Data.SqlClient" xdt:Transform="Replace" xdt:Locator="Match(name)" />

		<add name="GUIDEDBEntities" connectionString="metadata=res://*/GUIDEModel.csdl|res://*/GUIDEModel.ssdl|res://*/GUIDEModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local)\MIZSQL2016;initial catalog=GUIDE;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" xdt:Transform="Replace" xdt:Locator="Match(name)"/>

		<add name="LoanDBEntities" connectionString="metadata=res://*/LOANModel.csdl|res://*/LOANModel.ssdl|res://*/LOANModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local)\MIZSQL2016;initial catalog=Loan;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" xdt:Transform="Replace" xdt:Locator="Match(name)" />

		<add name="EUCDbArchiveDBEntities" connectionString="metadata=res://*/EUCDBArchiveModel.csdl|res://*/EUCDBArchiveModel.ssdl|res://*/EUCDBArchiveModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local)\MIZSQL2016;initial catalog=EUCDbArchive;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"  xdt:Transform="Replace" xdt:Locator="Match(name)"/>

		<add name="eDocumentDBEntities" connectionString="metadata=res://*/eDocumentModel.csdl|res://*/eDocumentModel.ssdl|res://*/eDocumentModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local)\MIZSQL2016;initial catalog=eDocument;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
	</connectionStrings>

</configuration>