@page "/GetDistributionPasswordConfirmation"

@attribute [Authorize]
<div class="container-fluid">
    <div class="card">
        <div class="card bg-primary text-white">
            <div class="card-header">
                <h4>EDistribution Password Confirmation</h4>
            </div>
        </div>

        <div class="card-body">
            <div class="row">
                <div class="col-sm-6">
                    <section>
                        EDistribution password has been sent to you, please check the email.
                    </section>
                </div>
            </div>
            <div class="row">
                <button class="btn btn-outline-primary m-1 btn-GoBack" @onclick="(()=>BackClick())">Back</button>
            </div>
        </div>
    </div>

    <div class="card-footer">
    </div>
</div>

@code {
    [Inject]
    public NavigationManager navigationManager { get; set; }

    protected void BackClick() => navigationManager.NavigateTo($"/EDistribution");


}
