@if (IsVisible)
{
    @if (IsSuccess)
    {
        <div id="divStatusMessage" class="row alert alert-info" style="font-size: 20px">
            <div class="col-11" style="text-align:left">
                <span>@ChildContent</span>
            </div>
            <div class="col-1" style="text-align:right">
                <a style="text-underline-position:below; cursor:pointer" @onclick="(() => CloseValidation())">x</a>
            </div>
        </div>
    }
    else
    {
        <div id="divStatusMessage" class="row alert alert-danger" style="font-size: 20px">
            <div class="col-11" style="text-align:left">
                <span style="font-style:italic; font-weight:bold">Oops, something went wrong. @ChildContent</span>
            </div>
            <div class="col-1" style="text-align:right">
                <a style="text-underline-position:below; cursor:pointer" @onclick="(() => CloseValidation())">x</a>
            </div>
        </div>
    }
}

@code {
    [Parameter]
    public bool IsVisible { get; set; }

    [Parameter]
    public bool IsSuccess { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    private void CloseValidation()
    {
        IsVisible = false;
    }
}
