@page "/ELCS"

<div class="container-sm container-fluid">
    <div class="card bg-primary text-white">
        <div class="card-header">
            <h3>ELCS (Loan Control Sheet</h3>
        </div>
    </div>

    <div class="card-body">
        @* To stop menu items before RoleClaims complete*@
        @if (!isVisable)
        {
            @* <div class="spinner"></div>*@
        }
        else
        {
            <div class="list-group">
                <ul class="nav flex-column nav-tabs">
                    <li class="list-group-item list-group-item-action list-group-item-primary">
                        <a class="nav-link oi oi-plus nav-mhcb-list" href="UpdateSpecialRate">
                            Upload MIZUHO Special Rates
                        </a>
                    </li>

                </ul>
            </div>

            <div class="list-group">
                <ul class="nav flex-column nav-tabs">
                    <li class="list-group-item list-group-item-action list-group-item-secondary">
                        <a class="nav-link oi oi-plus nav-mhcb-list" href="AddTrancheType">
                            Add Tranche Type
                        </a>
                    </li>

                </ul>
            </div>

            <div class="list-group">
                <ul class="nav flex-column nav-tabs">
                    <li class="list-group-item list-group-item-action list-group-item-primary">
                        <a class="nav-link oi oi-plus nav-mhcb-list" href="AddCovenantCondition">
                            Add Covenant Condition
                        </a>
                    </li>

                </ul>
            </div>

            <div class="list-group">
                <ul class="nav flex-column nav-tabs">
                    <li class="list-group-item list-group-item-action list-group-item-secondary">
                        <a class="nav-link oi oi-plus nav-mhcb-list" href="AddCovenantReceiptTiming">
                            Add Covenant Receipt Timing
                        </a>
                    </li>

                </ul>
            </div>

            <div class="list-group">
                <ul class="nav flex-column nav-tabs">
                    <li class="list-group-item list-group-item-action list-group-item-primary">
                        <a class="nav-link oi oi-plus nav-mhcb-list" href="AddFacilityType">
                            Add Murex Credit Facility Type
                        </a>
                    </li>

                </ul>
            </div>
        }

       
    </div>

  @*   <div class="card-footer">
        <div class="text-sm-center footer" style="margin-bottom:0">
            <p>&copy; @DateTime.Now.Year - MIZUHO Bank Sydney</p>
        </div>
    </div> *@
    <RoleClaims Value="isAuthorised" CallBackMethod="ChangeStatus"></RoleClaims>
</div>


@code {
    bool isVisable;
    bool isAuthorised { get; set; }

    private void ChangeStatus(bool isAuthorised)
    {
        isVisable = isAuthorised;
    }

}



