@page "/PaymentControl"

<div class="container-sm container-fluid">
    <div class="card bg-primary text-white">
        <div class="card-header">
            <h3>Payment Control Status</h3>
        </div>
    </div>

    <div class="card-body">
        @* To stop menu items before RoleClaims complete*@
        @if (!isVisable)
        {
            @*<div class="spinner"></div>*@
        }
        else
        {
            <div class="list-group">
                <ul class="nav flex-column nav-tabs">
                    <li class="list-group-item list-group-item-action list-group-item-primary">
                        <a class="nav-link oi oi-plus nav-mhcb-list" href="UpdatePayment">
                            Change Payment Control Transaction Status
                        </a>
                    </li>
                    <li class="list-group-item list-group-item-action list-group-item-secondary">
                        <a class="nav-link oi oi-plus nav-mhcb-list" href="DeleteSwiftPayment">
                            Delete Duplicated Swift Payment Records
                        </a>
                    </li>
                    <li class="list-group-item list-group-item-action list-group-item-primary">
                        <a class="nav-link oi oi-plus nav-mhcb-list" href="UpdateDCPayment">
                            Change Domestic Clearing Transaction Status
                        </a>
                    </li>
                </ul>
            </div>
        }
        
    </div>


@*     <div class="card-footer">
        <div class="text-sm-center footer" style="margin-bottom:0">
            <p>&copy; @DateTime.Now.Year - MIZUHO Bank Sydney</p>
        </div>
    </div> *@

    <RoleClaims Value="isAuthorised" CallBackMethod="ChangeStatus"></RoleClaims>
</div>

@code {
    bool isVisable;
    bool isAuthorised { get; set; }

    private void ChangeStatus(bool isAuthorised)
    {
        isVisable = isAuthorised;
    }

}