@page "/ELCS"


<div class="container-sm container-fluid">
	<div class="card-header">
		<h2><span class="badge badge-info">ELCS</span></h2>
	</div>

	<div class="list-group">
		<ul class="nav flex-column nav-tabs">
			<li class="list-group-item list-group-item-action list-group-item-primary">
				<a class="nav-link oi oi-plus nav-mhcb-list" href="UpdateSpecialRate">
					Upload MIZUHO Special Rates
				</a>
			</li>

		</ul>
	</div>

	<div class="list-group">
		<ul class="nav flex-column nav-tabs">
			<li class="list-group-item list-group-item-action list-group-item-secondary">
				<a class="nav-link oi oi-plus nav-mhcb-list" href="PostFacilityType">
					Add Murex Credit Facility Type
				</a>
			</li>

		</ul>
	</div>
	

	<div class="card-footer">
		<div class="text-sm-center footer" style="margin-bottom:0">
			<p>&copy; @DateTime.Now.Year - MIZUHO Bank Sydney</p>
		</div>
	</div>
</div>


