@page "/GUIDEUser"

<div class="container-sm container-fluid">
	<div class="card-header">
		<h2><span class="badge badge-info">GUIDE User</span></h2>
	</div>

	<div class="list-group">
		<ul class="nav flex-column nav-tabs">
			<li class="list-group-item list-group-item-action list-group-item-primary">
				<a class="nav-link oi oi-plus nav-mhcb-list" href="GetUserByUserId">
					Search User by User ID
				</a>
			</li>
			<li class="list-group-item list-group-item-action list-group-item-secondary">
				<a class="nav-link oi oi-plus nav-mhcb-list" href="GetUserByRecStatus">
					Search Users by Status
				</a>
			</li>
			<li class="list-group-item list-group-item-action list-group-item-primary">
				<a class="nav-link oi oi-plus nav-mhcb-list" href="UpdateUser">
					Reset GUIDE User Login Status
				</a>
			</li>
		</ul>
	</div>

	<div class="card-footer">
		<div class="text-sm-center footer" style="margin-bottom:0">
			<p>&copy; @DateTime.Now.Year - MIZUHO Bank Sydney</p>
		</div>
	</div>
</div>

