@page "/MxInbound"

<div class="container-sm container-fluid">
	<div class="card-header">
		<h2><span class="badge badge-info">Search MxInbound Events</span></h2>
	</div>

	<div class="list-group">

		<ul class="nav flex-column nav-tabs">
			<li class="list-group-item list-group-item-action list-group-item-primary">
				<a class="nav-link oi oi-plus nav-mhcb-list" href="GetMxEucBalanceEventByCustAbbr">
					MxInbound Events by Customer Abbreviation
				</a>
			</li>
			<li class="list-group-item list-group-item-action list-group-item-secondary">
				<a class="nav-link oi oi-plus nav-mhcb-list" href="GetMxEucBalanceEventByRefNo">
					MxInbound Events by GBASE Reference No
				</a>
			</li>
			<li class="list-group-item list-group-item-action list-group-item-primary">
				<a class="nav-link oi oi-plus nav-mhcb-list" href="GetMxInboundEventLogBySender">
					MxInbound Event Logs by Category
				</a>
			</li>
		</ul>
	</div>

	<div class="card-footer">
		<div class="text-sm-center footer" style="margin-bottom:0">
			<p>&copy; @DateTime.Now.Year - MIZUHO Bank Sydney</p>
		</div>
	</div>
</div>