@page "/Test"

<div class="list-group">
	<h2><span class="badge badge-info">Develop Test page</span></h2>

	<ul class="nav flex-column nav-tabs">
		<li class="list-group-item list-group-item-action list-group-item-primary">
			<a class="nav-link oi oi-plus nav-mhcb-list" href="DeleteSwiftPayment">
				Test Delete SwiftPayment
			</a>
		</li>
		<li class="list-group-item list-group-item-action list-group-item-primary">
			<a class="nav-link oi oi-plus nav-mhcb-list" href="UpdatePayment">
				Test Update Payment
			</a>
		</li>
	</ul>
</div>


